{# templates/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h2>Login</h2>

    {# Add your regular login form here #}

    <hr />

    <a href="{{ path('app_check_google') }}" class="btn btn-danger">Login with Google</a>
{% endblock %}